## Endpoint Microservicios Usuario
URI_USERS=http://production:3010/api/v1/service/db/users

## Endpoint Microservicios Transacciones
URI_TRANSACTIONS=http://production:3010/api/v1/service/db/transactions

## EndPoint Reporte de transacciones
URI_REPORT_TRANSACTIONS=http://production:8010/api/v1/service/db/reporting

## Definición de los puertos de la APP
PORT=8080

## Definicion de la variable que mantiene el tiempo del OTP Vigente EN MINUTOS
TIME_EXPIRE_OTP = 5

## Configuracion smtp de gmail para el envio del token
CONFIG_HOST=smtp.gmail.com
CONFIG_PORT=587
CONFIG_SECURE=false
CONFIG_USER=pedrorequenarondon@gmail.com
CONFIG_PASS=fwypvxgwsfvyngzz
CONFIG_REJECTUNAUTHORIZED=false

## Configuración de Origenes permitido en el Stage Production
ALLOWED_ORIGINS=https://www.ePayco.com,https://www.mi-frontend.com,http://production:8010,http://localhost:8000