  services:
    development:
      container_name: "user-managementAPI-dev-ePayco"
      image: dev
      build:
        context: .
        target: development
      env_file:
        - .env.dev
      ports:
        - "3080:3080"
      networks:
        - ePayco-network
      volumes:
        - ./src:/src
        - ./package*.json:/package*.json
      restart: unless-stopped

    production:
      container_name: "user-managementAPI-prod-ePayco"
      image: prod
      build:
        context: .
        target: production
      env_file:
        - .env.prod
      ports:
        - "8080:8080"
      networks:
        - ePayco-network
      restart: unless-stopped

  networks:
    ePayco-network:
      ##driver: bridge
      external: true