.Form {
    flex:            1.5;
    display:         flex;
    justify-content: center;
    align-items:     center;
    padding:         1.5rem ;
    background-color: var( --colorBlanco );
}

.Fieldset {
    width: 30vw;
}

.ContainerInput {
    margin-top: 1rem;
}

.Input {
    background-color: var( --fondoForm ) !important;
}

.ContainerBtn {
    display:         flex;
    justify-content: space-around;
    align-items:     center;
    margin-top:      1rem;;
}

.BtnCreate {
    width: 14vw;
}

.BtnClear {
    width: 14vw;
}